@media all and (max-width: 500px) {

    #header .bottom-header {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #header .bottom-header h1 {
        line-height: 44px;
        font-size: 40px;
    }

    #header .bottom-header .section-description {
        margin-bottom: 0;
    }

    #header .bottom-header .header-button-one,
    #header .bottom-header .header-button-two {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .progress {
        margin-top: 50px;
    }

    #services .service {
        margin-top: 50px;
    }

    #counter .counter div {
        margin-top: 50px;
    }

    #counter .counter div:nth-child(2) {
        border: none;
    }


    #contact .left {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        border-right: none;
        text-align: left;
    }

    #contact .right {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        text-align: left;
    }

    #contact .social {
        text-align: left;
    }

    #contact .item {
    	margin-top: 50px;
    }
    form {
    	display: none;
    }
}