@media screen and (min-width: 500px) and (max-width: 991px) {

	#headr .nav {
		text-align: center;
	}
	#header .top-header .navbar-default ul li a {
    color: #fff;
    font-size: 1.5rem;
    font-family: Lato;
    font-weight: 600;
    padding-left: 4px;
}
    #header .bottom-header h1 {
        line-height: 54px;
        font-size: 50px;
    }
     #header .bottom-header .section-description {
        margin-bottom: 20px;
    }

        #header .bottom-header {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #header .bottom-header .header-button-one,
    #header .bottom-header .header-button-two {
        margin-top: 10px;
        margin-bottom: 10px;
    }
.progress {
        margin-top: 50px;
    }
     #services .service {
        margin-top: 50px;
    }
     #counter .counter div {
        margin-top: 50px;
    }
    #team .p-img {
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

    #team .p-info {
        float: none;
        width: 100%;
    }
}